<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dwei.domain.mapper.CrashLogMapper">

    <resultMap id="BaseResultMap" type="com.dwei.domain.entity.CrashLogEntity">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="uri" column="uri" jdbcType="VARCHAR"/>
            <result property="method" column="method" jdbcType="VARCHAR"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="headParam" column="head_param" jdbcType="VARCHAR"/>
            <result property="requestParam" column="request_param" jdbcType="VARCHAR"/>
            <result property="bodyParam" column="body_param" jdbcType="VARCHAR"/>
            <result property="message" column="message" jdbcType="VARCHAR"/>
            <result property="stackException" column="stack_exception" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="deleteTime" column="delete_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,uri,method,
        user_id,head_param,request_param,
        body_param,message,stack_exception,
        create_time,update_time,delete_time
    </sql>
</mapper>
